class Env {
  static const String supabaseUrl = 'YOUR_SUPABASE_URL';
  static const String supabaseAnonKey = 'YOUR_SUPABASE_ANON_KEY';
  static const String brevoApiKey = 'YOUR_BREVO_API_KEY';
  static const String cloudinaryCloudName = 'YOUR_CLOUDINARY_NAME';
  static const String cloudinaryUploadPreset = 'YOUR_UPLOAD_PRESET';
  static const String customerGroqKey = 'YOUR_GROQ_CUSTOMER_KEY';
  static const String sellerGroqKey = 'YOUR_GROQ_SELLER_KEY';
}
